body {
  background: #0c2538;
  font-family: Arial, sans-serif;
}
body h1 {
  color: #ede059;
  font-family: Times New Roman, Georgia, serif;
}
.button {
  text-decoration: none;
  display: block;
  padding: 1em 2em;
  display: inline-block;
  *display: block;
  zoom: 1;
  color: #fff;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA8CAIAAAAok0etAAAABmJLR0QA/wD/AP+gvaeTAAAAQ0lEQVQImW2NyQ3AIBAD0VZKjZSUQmZ4rBKQlZcPWZ7xrFlqga1Sfr5VuPzpge4iE7vcNovgenEJFsF9f/8+CO7Zghs7tLKHly2LOwAAAABJRU5ErkJggg==");
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
.button:hover {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA8CAIAAAAok0etAAAABmJLR0QA/wD/AP+gvaeTAAAARElEQVQImY2OwQnAMAwDi+bvXp0lQ+SuD0NTTAr9yfIh6RjXGSBKhEfz0mLdzojFbfjlG5hRP/4tW4rHTXfv+J/dNyk3XZKyij3EetAAAAAASUVORK5CYII=");
  -webkit-box-shadow: 0 0 20px #fff;
  -moz-box-shadow: 0 0 20px #fff;
  box-shadow: 0 0 20px #fff;
  text-shadow: 0 0 8px #000;
}
.button:active {
  color: #000;
  -webkit-box-shadow: 0 0 20px #000;
  -moz-box-shadow: 0 0 20px #000;
  box-shadow: 0 0 20px #000;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA8CAIAAAAok0etAAAABmJLR0QA/wD/AP+gvaeTAAAANElEQVQImWNI9xBiQgXMUJqRiZmZGasMnI8ugCKHMAeiF80sDMPw2cMMNwfTLEYUwwi4EQCZQgKwzvYTKgAAAABJRU5ErkJggg==");
}
