.mod.package
  background #000
  border 2px solid $white
  border-radius(gap(0.5))
  text-align center
  padding gap(1) 0
  h1
    margin-bottom 0
    color $yellow
    
  .nav
    overflow hidden
    text-align center
    float none
    li
      inline-block()
      vertical-align middle
      float none

.packages    
  .stackContent
    padding gap(0.5)