//@import 'nib'

// CSS Reset
//@import 'lib/bootstrap/reset'

// Libraries
//@import 'lib/bootstrap/helpers'
//@import 'lib/bootstrap/preboot'
//@import 'lib/bootstrap/scaffolding'
//@import 'lib/oocss/spacing'
//@import 'lib/oocss/align'
//@import 'lib/stacklayout'
//@import 'lib/bootstrap/messages'
//@import 'lib/bootstrap/type'
//@import 'lib/bootstrap/forms'
//@import 'lib/bootstrap/tables'

// Bootstrap Patterns
//@import "lib/bootstrap/patterns/buttons"
//@import "lib/bootstrap/patterns/navigations"

body
  background #aaa
  font-family sans-serif