/** 
 * Spacing classes 
 * Should be used to modify the default spacing between objects (not between nodes of the same object) !important
 * Please use judiciously. You want to be using defaults most of the time, these are exceptions! 
 * <type><location><size>
 */
/* ====== Default spacing ====== */

h1, h2, h3, h4, h5, h6, ul, ol,dl, p,blockquote, .media
  margin-bottom: gap(1)
  
h1, h2, h3, h4, h5, h6,img
  padding-bottom: 0px

pre
  margin: gap(1)

table h1,table h2,table h3, table h4, table h5, table h6, table p, table ul, table ol, table dl
  padding: 0

/* spacing helpers
p,m = padding,margin
a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
s,m,l,n = small(gap(0.5) !important) !important,medium(gap(1) !important) !important,large(gap(2) !important) !important,none(0px !important) !important
*/

.ptn,.pvn,.pan
  padding-top: 0px !important

.pts,.pvs,.pas
  padding-top: gap(0.5) !important

.ptm,.pvm,.pam
  padding-top: gap(1) !important

.ptl,.pvl,.pal
  padding-top: gap(2) !important

.prn,.phn,.pan
  padding-right: 0px !important

.prs,.phs,.pas
  padding-right: gap(0.5) !important

.prm,.phm,.pam
  padding-right: gap(1) !important

.prl,.phl,.pal
  padding-right: gap(2) !important

.pbn,.pvn,.pan
  padding-bottom: 0px !important

.pbs,.pvs,.pas
  padding-bottom: gap(0.5) !important

.pbm,.pvm,.pam
  padding-bottom: gap(1) !important

.pbl,.pvl,.pal
  padding-bottom: gap(2) !important

.pln,.phn,.pan
  padding-left: 0px !important

.pls,.phs,.pas
  padding-left: gap(0.5) !important

.plm,.phm,.pam
  padding-left: gap(1) !important

.pll,.phl,.pal
  padding-left: gap(2) !important

.mtn,.mvn,.man
  margin-top: 0px !important

.mts,.mvs,.mas
  margin-top: gap(0.5) !important

.mtm,.mvm,.mam
  margin-top: gap(1) !important

.mtl,.mvl,.mal
  margin-top: gap(2) !important

.mrn,.mhn,.man
  margin-right: 0px !important

.mrs,.mhs,.mas
  margin-right: gap(0.5) !important

.mrm,.mhm,.mam
  margin-right: gap(1) !important

.mrl,.mhl,.mal
  margin-right: gap(2) !important

.mbn,.mvn,.man
  margin-bottom: 0px !important

.mbs,.mvs,.mas
  margin-bottom: gap(0.5) !important

.mbm,.mvm,.mam
  margin-bottom: gap(1) !important

.mbl,.mvl,.mal
  margin-bottom: gap(2) !important

.mln,.mhn,.man
  margin-left: 0px !important

.mls,.mhs,.mas
  margin-left: gap(0.5) !important

.mlm,.mhm,.mam
  margin-left: gap(1) !important

.mll,.mhl,.mal
  margin-left: gap(2) !important

