//- Jade
//- Great grandfather Jade: https://github.com/visionmedia/jade
//- Jade for PHP: https://github.com/everzet/jade.php
//- Jade for Scala(Scalate): http://scalate.fusesource.org/
//-
//- HAML for Ruby enthusiasts: http://haml-lang.com/

//- This thing will be up at conancat.github.com/webcamp :) 

!!!5
head
  link(href="css/style.css", rel="stylesheet")

body
  h1 Hello world!
  
  a#harinder.button(href="#") I'm his G-spot