// Grid system, adapted from OOCSS

.line:before,.line:after{content:"";display:table;}
.line:after{clear:both;}
.line{*zoom:1;}
.unit{float:left;}
.unitRight{float:right;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.lastUnit{float:none;display:block;display:table-cell;width:9999em;*width:auto;*zoom:1;_position:relative;_left:-3px;_margin-right:-3px;}

// Stacklayout
.stack,.stack1of2,.stack1of3,.stack2of3,.stack1of4,.stack3of4,.stack1of5,.stack2of5,.stack3of5,.stack4of5,.stack1of7,.stackAuto,.semanticClass
  display: inline-block
  font-family: 'Courier New',monospace
  letter-spacing: -0.63em
  text-align: center
  vertical-align: top

@media all and (-webkit-min-device-pixel-ratio:10000)not all and (-webkit-min-device-pixel-ratio:0)
  head~body .stack,head~body .stack1of2,head~body .stack1of3,head~body .stack2of3,head~body .stack1of4,head~body .stack3of4,head~body .stack1of5,head~body .stack2of5,head~body .stack3of5,head~body .stack4of5,head~body .stackAuto,  .semanticClass
    word-spacing: -0.63em

  .stack
    position: relative

.stackContent
  display: block
  letter-spacing: normal
  word-spacing: normal
  text-align: left

.stackContent:after
  content: ""
  display: block
  height: 0
  clear: both
  visibility: hidden

.stackAuto .stackContent
  text-align: center

.stackAuto
  width: auto

.stack
  width: 100%
  overflow: hidden

.stack .stack
  overflow: visible

.stack1of2
  width: 50%

.stack1of3
  width: 33.334%

.stack2of3
  width: 66.667%

.stack1of4
  width: 25%

.stack3of4
  width: 75%

.stack1of5
  width: 20%

.stack2of5
  width: 40%

.stack3of5
  width: 60%

.stack4of5
  width: 80%
  
.stack1of7
  width: 14.28%
  
  
// Mixins
stack1of2()
  width: 50%

stack1of3()
  width: 33.334%

stack2of3()
  width: 66.667%

stack1of4()
  width: 25%

stack3of4()
  width: 75%

stack1of5()
  width: 20%

stack2of5()
  width: 40%

stack3of5()
  width: 60%

stack4of5()
  width: 80%  
